@import '../utils/variables';


.test {
    margin-top: 100px;
    text-align: center;

    font-size: 36px;

    color: getColor('accent-color');
};

.button1 {
    @include btnStyle(getColor('accent-color'), getColor('transparent-color'), 147px);

    margin-right: 50px
};

.button2 {
    @include pageBtnStyle(getColor(accent-color));
}


.test-div {
    display: flex;

    margin-top: 40px;
    justify-content: center;
    padding: 50px;

    background-color: green;
};